STOCK_DB_USER=korp_stock
STOCK_DB_PASSWORD=korp_stock_password
STOCK_DB_NAME=stock_db
STOCK_DB_PORT=5432

BILLING_DB_USER=korp_billing
BILLING_DB_PASSWORD=korp_billing_password
BILLING_DB_NAME=billing_db
BILLING_DB_PORT=5433